---
import type { GetStaticPaths } from "astro";
import { CollectionEntry, getCollection, getEntry } from "astro:content";
import PageLayout from "../../components/PageLayout.astro";

export const getStaticPaths: GetStaticPaths = async () => {
  const team = await getCollection("team");
  return team.map((member, index) => {
    return {
      params: {
        member: member.id,
      },
      props: {
        next: index < team.length - 1 ? team[index + 1].id : null,
        previous: index > 0 ? team[index - 1].id : null,
      },
    };
  });
};

const { member } = Astro.params;
const { previous, next } = Astro.props;

// @ts-ignore
const memberEntry = (await getEntry("team", member)) as CollectionEntry<"team">;
---

<PageLayout pageTitle="Our team">
  <h1>Our team</h1>
  <div>
    <h2>{memberEntry.data.name}</h2>
    <img src={memberEntry.data.avatar.src} />
    <h3>Roles</h3>
    <ul>
      {memberEntry.data.roles.map((role) => <li>{role}</li>)}
    </ul>
    <h3>Contacts</h3>
    <ul>
      {
        memberEntry.data.contacts.map((contact) => (
          <li>
            <a href={contact}>{contact}</a>
          </li>
        ))
      }
    </ul>
    <nav>
      {previous && <a href={`/team/${previous}`}>Previous member</a>}
      <a href="/team/">All members</a>
      {next && <a href={`/team/${next}`}>Next member</a>}
    </nav>
  </div>
</PageLayout>
<style>
  img {
    max-width: 150px;
  }
  ul {
    padding-left: 40px;
  }
  section {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  h2 {
    grid-column: span 2;
  }
  article {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  nav {
    margin-top: 30px;
    display: flex;
    gap: 15px;
  }
</style>
