---
import type { GetStaticPaths } from "astro";
import { CollectionEntry, getCollection, getEntry } from "astro:content";
import PageLayout from "../../layouts/PageLayout.astro";
import TeamMemberCard from "../../components/TeamMemberCard.astro";

export const getStaticPaths: GetStaticPaths = async () => {
  const team = await getCollection("team");
  return team.map((member, index) => {
    return {
      params: {
        member: member.id,
      },
      props: {
        next: index < team.length - 1 ? team[index + 1].id : null,
        previous: index > 0 ? team[index - 1].id : null,
      },
    };
  });
};

const { member } = Astro.params;
const { previous, next } = Astro.props;

// @ts-ignore
const memberEntry = (await getEntry("team", member)) as CollectionEntry<"team">;
---

<PageLayout pageTitle="The Fujoshi Guide to Web Development – Our team">
  <h1>Our team</h1>
  <div>
    <TeamMemberCard
      transition:name="artist"
      transition:animate="slide"
      transition:persist
      memberId={memberEntry.id}
      name={memberEntry.data.name}
      avatar={memberEntry.data.avatar}
      roles={memberEntry.data.roles}
      contacts={memberEntry.data.contacts}
    />
    <nav>
      <a
        class:list={{
          hidden: !previous,
        }}
        href={`/team/${previous}`}>Previous</a
      >
      <a href="/team/">All</a>
      <a
        class:list={{
          hidden: !next,
        }}
        href={`/team/${next}`}>Next</a
      >
    </nav>
  </div>
</PageLayout>
<style>
  img {
    max-width: 150px;
    align-self: center;
  }
  ul {
    padding-left: 40px;
  }
  section {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  h2 {
    grid-column: span 2;
  }
  article {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  nav {
    margin-top: 30px;
    display: flex;
    gap: 15px;
    justify-content: space-evenly;
  }
  .hidden {
    visibility: hidden;
  }
</style>
