---
import { getCollection, type CollectionEntry } from "astro:content";
import type { Project } from "../../content/config";
import PageLayout from "../../layouts/PageLayout.astro";
import TeamMemberCard from "../../components/TeamMemberCard.astro";

const team = await getCollection("team");

const PROJECTS: Record<string, { members: CollectionEntry<"team">[] }> = {};

team.forEach((member) => {
  for (const project of Object.keys(member.data.roles) as Project[]) {
    if (!PROJECTS[project]) {
      PROJECTS[project] = {
        members: [] as CollectionEntry<"team">[],
      };
    }
    if (member.data.roles[project] && member.data.roles[project].length > 0) {
      PROJECTS[project].members.push(member);
    }
  }
});

const projectsArray = Object.keys(PROJECTS).map((proj) => ({
  name: proj as Project,
  url: proj.replace(/\s/g, "-").toLowerCase(),
  members: PROJECTS[proj].members,
}));
---

<PageLayout pageTitle="The Fujoshi Guide to Web Development – Our team">
  <h1><a href="/team">Our team</a></h1>
  <div class="description">
    Whether for one single adventure or as part of our continued efforts, these
    are the people whose hard work makes FujoGuide possible.
  </div>
  <div class="tabs">
    {
      projectsArray.map((project, index) => {
        // Exclude from members with card people that have exclusively done beta reading
        const membersWithCard = project.members.filter(
          (member) =>
            member.data.roles[project.name]?.length !== 1 ||
            member.data.roles[project.name]?.[0] !== "Beta Reader"
        );
        const betaReaders = project.members.filter((member) =>
          member.data.roles[project.name]?.includes("Beta Reader")
        );

        return (
          <>
            <input
              type="radio"
              name="tab"
              id={project.url}
              checked={index === 0}
            />
            <label for={project.url}>{project.name}</label>
            <div class="tab-content" id={`content-${project.url}`}>
              {membersWithCard.map((memberEntry) => {
                return (
                  <TeamMemberCard
                    transition:name="artist"
                    transition:animate="slide"
                    transition:persist
                    memberId={memberEntry.id}
                    name={memberEntry.data.name}
                    avatar={memberEntry.data.avatar}
                    roles={memberEntry.data.roles}
                    project={project.name}
                    contacts={memberEntry.data.contacts}
                  />
                );
              })}
              {betaReaders.length > 0 && (
                <div class="beta-readers">
                  <h2>...and our heroic beta readers:</h2>
                  {betaReaders.map((reader) => reader.data.name).join(", ")}
                </div>
              )}
            </div>
          </>
        );
      })
    }
  </div>
</PageLayout>
<style>
  :global(h1) {
    margin-bottom: 0;
  }

  :root,
  main {
    --main-width: 1200px;
  }

  .tabs {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
  }

  .tabs label {
    background: var(--fujo-pink);
    color: var(--fujo-cream);
    cursor: pointer;
    display: block;
    margin: 0.3rem;
    font-weight: 700;
    padding: 0.5rem 1rem;
    transition: background ease 0.3s;
    width: auto;
    order: 1;
  }
  .tabs .tab-content {
    display: none;
    margin-top: 1rem;
    padding: 0 1rem;
    order: 99;
  }

  .tabs input[type="radio"] {
    display: none;
  }

  .tabs input[type="radio"]:checked + label {
    background: var(--fujo-red);
    color: var(--fujo-cream);
  }

  .tabs input[type="radio"]:checked + label + .tab-content {
    display: flex;
    gap: 0 0.75rem;
    flex-wrap: wrap;
    justify-content: center;
  }

  .beta-readers {
    text-align: center;
    margin: 0 auto;
    margin-top: 40px;
    font-size: 1.17em;
  }

  .description {
    text-align: center;
    max-width: 540px;
  }
</style>
