---
import { getCollection } from "astro:content";
import PageLayout from "../../layouts/PageLayout.astro";
import TeamMemberCard from "../../components/TeamMemberCard.astro";

const team = await getCollection("team");
---

<PageLayout pageTitle="The Fujoshi Guide to Web Development – Our team">
  <h1>Our team</h1>
  <div>Note: this page is under construction, more team members exist!</div>
  <section>
    {
      team.map((member) => {
        return (
          <TeamMemberCard
            memberId={member.id}
            name={member.data.name}
            avatar={member.data.avatar}
            roles={member.data.roles}
            contacts={member.data.contacts}
          />
        );
      })
    }
  </section>
</PageLayout>

<style>
  section {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
</style>
