---
interface Props {
  name: string;
  imageSrc: string;
  likes: string[];
  dislikes: string[];
  tropes: string[];
  trivia: string;
}

const { name, likes, dislikes, tropes, trivia, imageSrc } = Astro.props;
---

<article>
  <h2>{name}</h2>
  <img src={imageSrc} />
  <div>
    <h3>Likes</h3>
    <ul>
      {likes.map((like) => <li>{like}</li>)}
    </ul>
  </div>
  <div>
    <h3>Dislikes</h3>
    <ul>
      {dislikes.map((dislike) => <li>{dislike}</li>)}
    </ul>
  </div>
  <div>
    <h3>About Him</h3>
    <slot />
  </div>
  <div>
    <h3>Tropes</h3>
    <ul>
      {tropes.map((trope) => <li>{trope}</li>)}
    </ul>
  </div>
  <div>
    <h3>Trivia</h3>
    {trivia}
  </div>
</article>
<style>
  h2 {
    text-transform: capitalize;
  }
  img {
    max-height: 400px;
  }
</style>
