---
const themeColor = "#c29fc9";

const url = "https://fujoweb.dev";
const image = "https://fujoweb.dev/images/og-card.png";

interface Props {
  description?: string;
  title?: string;
}

const {
  title = "The Fujoshi Guide to Web Development — Fully Funded on Kickstarter",
  description = "The Fujoshi Guide to Web Development is a series of zines/books featuring anthropomorphized versions of programming languages and concepts (aka gijinka), each one engineered from the ground up to cater to transformational fandom.",
} = Astro.props;
---

<meta property="og:locale" content="en_US" />
<meta property="og:type" content="website" />
<meta property="og:title" content={title} />
<meta name="theme-color" content={themeColor} />
<meta property="og:url" content={url} />
<meta property="og:description" content={description} />
<meta property="og:site_name" content="FujoWeb.dev" />
<meta property="og:image" content={image} />
<meta property="og:image:secure_url" content={image} />
<meta property="og:image:type" content="image/png" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:creator" content="FujoWebDev" />
<meta name="twitter:title" content={title} />
<meta name="twitter:description" content={description} />

<title>title</title>
